## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [8]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [3]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo / 8
pc_ing = df_ing / 8
pc_his = df_his / 8
pc_fis = df_fis / 12
pc_qui = df_qui / 12

In [6]:
# 2) Seu código aqui
df_total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
df_total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [9]:
# 3) Seu código aqui
pc_geral = (df_total / 90) * 100
pc_geral

    Qt_acertos
0    38.888889
1    53.333333
2    55.555556
3    35.555556
4    33.333333
..         ...
95   37.777778
96   30.000000
97   44.444444
98   44.444444
99   46.666667

[100 rows x 1 columns]

In [10]:
# 4) Seu código aqui
total_aprovados = pc_geral[pc_geral['Qt_acertos'] > 45]
total_aprovados.count()

Qt_acertos    47
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [35]:
# seu código aqui
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Matematica'])
df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Portugues'])
df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Geografia'])
df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Ingles'])
df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Historia'])
df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Fisica'])
df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Quimica'])

df_total = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)

In [50]:
# 2) Contagem dos alunos desqualificados

df_desqualificados = df_total[(df_total['Matematica'] == 0) | 
                              (df_total['Fisica'] == 0) |
                              (df_total['Quimica'] == 0)]

num_desqualificados = df_desqualificados.shape[0]

print("O número de alunos desqualificados é:", num_desqualificados)

O número de alunos desqualificados é: 23

In [52]:
# 3) Cálculo da média dos alunos em História e Geografia

df_desqualificados = df_total[(df_total['Matematica'] == 0) | 
                              (df_total['Fisica'] == 0) |
                              (df_total['Quimica'] == 0)].copy()


df_desqualificados.loc[:, 'Media_Historia'] = (df_desqualificados['Historia']) / 8
df_desqualificados.loc[:, 'Media_Geografia'] = (df_desqualificados['Geografia']) / 8

df_desqualificados[['Media_Historia', 'Media_Geografia']]

    Media_Historia  Media_Geografia
3            0.000            0.375
6            0.625            0.875
10           0.125            0.375
12           0.125            0.375
14           0.125            0.125
20           0.750            0.750
25           0.000            0.875
26           0.875            0.750
27           0.875            0.125
33           0.750            0.000
35           0.375            0.750
49           0.125            0.125
56           0.750            0.875
65           0.375            0.250
66           0.375            0.375
72           0.875            0.375
73           0.375            0.250
74           0.625            0.000
84           0.125            0.000
89           0.750            0.875
92           0.125            0.125
94           0.125            0.250
98           0.625            0.375

In [53]:
# 4) DataFrame com os alunos qualificados

df_qualificados = df_total[(df_total['Matematica'] != 0) & 
                              (df_total['Fisica'] != 0) &
                              (df_total['Quimica'] != 0)]

df_qualificados

    Matematica  Portugues  Geografia  Ingles  Historia  Fisica  Quimica
0            6          7          7       3         1       8        3
1           19         10          0       0         0      11        8
2           14         16          0       5         7       4        4
4            7          2          2       7         0       9        3
5           20          2          5       3         2       9        9
..         ...        ...        ...     ...       ...     ...      ...
93          12         16          5       5         6       6        6
95           6          4          7       1         4       9        3
96           8          1          4       6         1       4        3
97          23          5          0       2         4       1        5
99          11         15          0       1         6       7        2

[77 rows x 7 columns]

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [6]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-9c0dbbb1-0917-4f1f-b685-ea505a7e515f.c000.csv'

In [10]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep = ';')

In [12]:
df.head(2)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,08be0917-8514-481b-91ff-2b097a27b5d4-i0b0,d191817b1f95f5a7c23b72a37d4665ad6ee88fb5f6f70b...,37,1983-10-16,M,2,PRETA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,210277,SINOVAC/BUTANTAN,Organization/61189445000156,2021-06-25,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
1,135696c9-0ca1-4f1b-b8e5-4c07729c90f1-i0b0,f29ad9852c31c9d20663031a3081de23449203dcb620a5...,41,1979-10-04,F,3,PARDA,120080.0,10.0,PORTO ACRE,...,2.0,Faixa Etária,215VCD134Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-11,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [14]:
df1 = df.copy()

In [17]:
vacRegistradas = df1['vacina_nome'].nunique()

print("O número de vacinas registradas nessa base é:", vacRegistradas)

O número de vacinas registradas nessa base é: 12

In [19]:
# 2) Quantos pacientes foram vacinados? 
#(considere um paciente para cada valor único de paciente_id)

pac_vac = df1['paciente_id'].nunique()

print("O número de pacientes vacinados foi de:", pac_vac)

O número de pacientes vacinados foi de: 316598

In [26]:
# 3) Quantos pacientes únicos tomaram a primeira dose? 
# OBS: Há um caractere especial neste campo. 
# Receba os valores do campo com o método .unique()

df_1dose = df1[df1['vacina_descricao_dose'] == '1ª Dose']

pac_vac_1dose = df_1dose['paciente_id'].nunique()

print("A quantidade de pacientes únicos vacinados é:", pac_vac_1dose)

A quantidade de pacientes únicos vacinados é: 143253

In [38]:
# 3) solução alternativa

pac_vac_1dose = df1[df1['vacina_descricao_dose'] == '1ª Dose']['paciente_id'].nunique()

print("A quantidade de pacientes únicos vacinados é:", pac_vac_1dose)

A quantidade de pacientes únicos vacinados é: 143253

In [34]:
# 4) Quantos pacientes com menos de 18 anos foram vacinados? 

df_menos_18 = df1[df1['paciente_idade'] < 18]

pac_menos_18 = df_menos_18['paciente_id'].nunique()

print("A quantidade de pacientes com menos de 18 anos", pac_menos_18)

A quantidade de pacientes com menos de 18 anos 68331

In [37]:
# 5) Quantos estabelecimentos aplicaram vacina no Acre?

num_estabelecimentos_unicos = df1['estabelecimento_razaoSocial'].nunique()

print(f"Número de estabelecimentos únicos: {num_estabelecimentos_unicos}")

Número de estabelecimentos únicos: 62

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [54]:
# 1)

df_menos_18 = df1[df1['paciente_idade'] < 18].copy()

In [58]:
# 2)

colunas_index = df_menos_18.loc[:, :].columns.unique()

# Convertendo o Index para uma lista
colunas_lista = colunas_index.tolist()

print(colunas_lista)

['document_id', 'paciente_id', 'paciente_idade', 'paciente_dataNascimento', 'paciente_enumSexoBiologico', 'paciente_racaCor_codigo', 'paciente_racaCor_valor', 'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais', 'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais', 'paciente_endereco_uf', 'paciente_endereco_cep', 'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor', 'estabelecimento_razaoSocial', 'estalecimento_noFantasia', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf', 'vacina_grupoAtendimento_codigo', 'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo', 'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome', 'vacina_fabricante_referencia', 'vacina_dataAplicacao', 'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome', 'sistema_origem']

In [56]:
# 3)

vacCatNomes = df_menos_18['vacina_categoria_nome'].value_counts()

print("A contagem do campo 'vacina_categoria_nome' é:", vacCatNomes)

A contagem do campo 'vacina_categoria_nome' é: vacina_categoria_nome
Faixa Etária                                      47606
Povos Indígenas                                    4697
Outros                                             3755
Povos e Comunidades Tradicionais                    820
Trabalhadores de Saúde                              254
Comorbidades                                         56
População Privada de Liberdade                       53
Gestantes                                            42
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Trabalhadores da Educação                             2
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [60]:
# 4)

lista_estabelecimentos_index = (
    df_menos_18
    .loc[:, 'estabelecimento_valor':'estabelecimento_uf']
    .columns
    .unique()
)

lista_estabelecimentos_lista = lista_estabelecimentos_index.tolist()

print("A lista de colunas referentes aos estabelecimentos é: \n", lista_estabelecimentos_lista)

A lista de colunas referentes aos estabelecimentos é:
 ['estabelecimento_valor', 'estabelecimento_razaoSocial', 'estalecimento_noFantasia', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf']

In [62]:
# 5)

df_menos_18_estabelecimentos = df_menos_18.loc[:,lista_estabelecimentos_lista]

df_menos_18_estabelecimentos.shape

(77399, 6)